<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{{vehicle}}</title>
        <link href="/static/stylesheets/style.css" rel="stylesheet">
        <link href="https://wiki.warthunder.com/resources/wt_font.ttf" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>{{vehicle}}: K/D ratios and Win Rate</h1>
        </header>
        <table>
            <tr>
                <th>KDL</th>
                <th>KDH</th>
                <th>KDE</th>
                <th>KD</th>
                <th>WIN_RATE</th>
            </tr>
            <tr>
                {% for kd in kds %}
                    <td>{{kd}}</td>
                {% endfor %}
                <td>{{wr}}</td>
            </tr>
        </table>
    </body>
</html>